.nav-bar{
    display: flex;
    background-color: rgb(67, 66, 66);

}
.nav-list{
    display: flex;
}

.nav-list a{
    display: block;
    padding: 2em;
    text-decoration: none;
    color: white;
}

.nav-list a:hover{
    background-color: rgb(47, 46, 46);
}

.nav-bt{
    display: none;
}
.nav-bt:hover{
    background-color: rgb(47, 46, 46);
}

@media(max-width:1000px){
    .nav-bt{
        display: block;
        font-size: 2em;
        padding-inline:10px;
        padding-bottom: 3px;
        border: none;
        background-color: rgb(67, 66, 66);
        color:white;
        cursor: pointer;
    }
    .nav-list{
        display: none;
    }
    .drop:hover .nav-list{
        display: block;
        position: absolute;
        background-color: rgb(67, 66, 66);

    }


}
