a{
    text-decoration: none;
}
.main-cont{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6);
    background:linear-gradient(0deg,#7ec7fb,#8d64fc,rgb(147, 4, 194));
}



.container{
    grid-column: 3/11;
}

.m-img{
    border-style: solid;
    border-width: 5px;
    margin: 10px;
    border-color: rgba(59, 59, 59, 0.502);
    grid-column: 1/9;
}
.m-img>img{
    width:100% ;
}
.main-page{
    background-color:rgba(241, 164, 251, 0.516) ;
    margin: 15px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: rgba(59, 59, 59, 0.509);
    grid-column: 9/13;
}

@media (max-width:1400px){
    .main-page{
        grid-column: 1/13;
    }
    .m-img{
        grid-column: 1/13;
    }
}

@media (max-width:1000px){
    .main-page{
        grid-column: 1/13;
    }
    .m-img{
        grid-column: 1/13;
    }
    .main-cont{
        grid-template-rows: repeat(6);
    }

    
    
    .container{
        grid-column: 1/13;
        grid-row: 2/3;
    }
}
    
@media(max-width:600px){
    .main-page{
        grid-column: 1/13;
    }
    .m-img{
        grid-column: 1/13;
    }
    .main-cont{
        grid-template-rows: repeat(12);
    }
    .card {
        margin-inline: 0;
    }
    
}